@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&display=swap');

:root{
    --cor00: #ffffff;
    --cor01: #080D1F;
    --cor02: #01010e55;
    --cor03: #5D66EE;
    --cor04: #1523EB;
    --cor05: #111CB8;
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--cor01);
    color: var(--cor00);
}

strong{
    color: var(--cor03);
}

header{
    background-color: var(--cor02);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.245);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.icone{
    transform: translate(0px);
    animation: float 6s ease-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}

nav > a{
    text-decoration: none;
    padding: 15px;
    color: #fff;
    font-size: 1.2em;
    
}

nav > a:hover{
    color: var(--cor05);
    text-decoration: underline;
    transition:  0.5s;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

section{
    padding: 1rem;
}

.home{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.apresentação > h1{
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.apresentação > p{
    font-size: 2em;
}

button{
    width: 200px;
    background-color: var(--cor03);
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
}

button:hover{
    background-color: #111CB8;
    transition: 1s;
}

.Saber-mais > button {
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    font-size: 1.2em;
}

.minha-img{
    width: 400px;
    height: 450px;
    border-radius: 50%;
}

.Experiência{
    background-color: var(--cor03);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.Experiência > div{
    display: flex;
    flex-wrap: wrap;
}

.title{
    font-size: 2em;
    color: #000000;
    font-weight: bolder;
}

.my-exp{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.my-exp > p {
    padding: 30px;
    font-size: 1.1em;
    color: #fff;
}

.my-exp > p:hover{
    transition: .5s;
    cursor: pointer;
    color: #000000;
}

.Sobre{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.Sobre > h2{
    font-size: 3em;
    color: #5D66EE;
    padding: 20px;
}

.Sobre > div{   
    display: flex;
    flex-flow: column wrap;
    font-size: 1.1em;
    letter-spacing: 1.5px;
}

.Projetos{
    background-color: var(--cor03) ;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.Projetos > h2{
    color: #000000;
    padding: 30px;
    font-size: 2em;
}


.Projetos > p{
    font-size: 1.1em;
}


.Projetos > p:hover{
    transition: .5s;
    cursor: pointer;
    color: #000000;
}




@media screen and (max-width: 778px){
   
}




footer{
    height: 100px;
    background-color: var(--cor01);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

footer > p{
    color: var(--cor0);
    font-size: 1.3em;
    font-weight: bolder;
}

.icones_redes > a > svg{
    padding: 10px;
    text-decoration: none;
    color: #fff;

}

.icones_redes > a > svg:hover{
    color: var(--cor04);
    text-decoration: none;
}

.icone_github,.icone_wpp,.icone_email,.icone_linkedin{
    text-decoration: none;
}
